* {
  margin: 0;
  padding: 0;
}

body {
  margin: 10px;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

button:not(.multistate) {
  height: 30px;
  min-width: 100px;
  padding: 0 5px;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  padding: 0;
  background-color: #f9f9f9;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;
  line-height: 20px;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
}

input[type="checkbox"]:active {
  border: 1px solid #aaa;
  background-color: #fefefe;
}

a#donate {
  background-color: #FBAA19;
  color: black;
  text-decoration: none;
  border: 0.1px solid black;
  min-width: 84.8px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 10px;
}

a#donate img, a#donate span {
  vertical-align: middle;
  height: 29.8px;
}

a#donate:hover {
  background-color: #f0a118;
}

a#donate:active {
  background-color: #ffb433;
}

@media (min-width: 800px) {
  a#donate {
    border-width: 1px;
    border-radius: 3px;
    min-width: 83px;
  }
  a#donate img, a#donate span {
    height: 28px;
  }
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexbox .multistate + select {
  width: calc(100% - 25px);
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content 1fr max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid input {
  max-width: 100%;
  overflow: hidden;
}

.info {
  margin-top: 3px;
  margin-left: 25px;
  font-size: 0.9em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button.multistate {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  padding: 0;
  background-color: #f9f9f9;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;
  line-height: 20px;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
}

button.multistate:active {
  border: 1px solid #aaa;
  background-color: #fefefe;
}

button.multistate[data-state="yes"] {
  color: green;
}

button.multistate[data-state="no"] {
  color: red;
}

select[id^="objective-"] {
  width: calc(100% - 40px);
}

section {
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 1px;
}

.toggle {
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: underline;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.toggle:hover {
  cursor: pointer;
}

.column {
  width: 100%;
}

@media (min-width: 800px) {
  .column {
    float: left;
  }
}

#container {
  max-width: 800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 37px;
}

#container > div:first-of-type {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#container .right-margin {
  margin-right: 10px;
}

#container .hidden {
  display: none;
}

#container .section-title {
  font-weight: bold;
}

#container .section-title + div {
  margin-top: 5px;
}

#container .reflow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

@media (min-width: 800px) {
  #container .reflow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#container #ghost-name {
  text-transform: capitalize;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 10px;
  line-height: 0.9em;
}

footer p, footer a, footer button {
  font-size: 0.9em;
}

footer #footer-options {
  text-align: right;
  max-width: 800px;
  margin: 0 auto;
}

footer #cookie-banner {
  margin-top: 10px;
  text-align: center;
}

header {
  margin-bottom: 10px;
  width: 100%;
}

header h1 {
  line-height: 30px;
}

@media (min-width: 800px) {
  header h1 {
    float: left;
  }
  header div {
    float: right;
  }
}

@media (min-width: 800px) {
  #left {
    width: calc(50% - 10px);
    margin-right: 5px;
  }
}

@media (min-width: 800px) {
  #right {
    width: 50%;
  }
}

.dark-theme {
  background-color: black;
  color: white;
}

.dark-theme a {
  color: #75d1ff;
}

.dark-theme a:visited {
  color: #75d1ff;
}

.dark-theme section {
  background-color: #2f3453;
  border: 1px solid white;
}

.dark-theme footer {
  background-color: #2f3453;
  border-top: 1px solid white;
}

.dark-theme .toggle {
  color: #75d1ff;
}

.dark-theme .multistate[data-state="no"] + label {
  color: #bbb;
}

.dark-theme .info {
  background-color: #a35129;
}

.dark-theme #container > div:first-of-type {
  border-bottom: 1px solid white;
}

.light-theme {
  background-color: white;
  color: black;
}

.light-theme a {
  color: #336699;
}

.light-theme a:visited {
  color: #336699;
}

.light-theme section {
  background-color: #FFFFF0;
  border: 1px solid black;
}

.light-theme footer {
  background-color: #FFFFF0;
  border-top: 1px solid black;
}

.light-theme .toggle {
  color: #336699;
}

.light-theme .multistate[data-state="no"] + label {
  color: #777;
}

.light-theme .info {
  background-color: #ceffff;
}

.light-theme #container > div:first-of-type {
  border-bottom: 1px solid black;
}
