* {
  margin: 0;
  padding: 0;
}

body {
  margin: 10px;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

button:not(.tristate) {
  padding: 3px;
  min-width: 100px;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  color: #336699;
}

a:visited {
  color: #336699;
}

button.tristate {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: #f9f9f9;
  border: 1px solid #777;
  border-radius: 3px;
  outline: none;
  line-height: 20px;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
}

button.tristate:active {
  border: 1px solid #aaa;
  background-color: #fefefe;
}

.column {
  width: 100%;
  margin-bottom: 10px;
}

@media (min-width: 700px) {
  .column {
    float: left;
  }
}

#container {
  max-width: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#container #reset-button {
  clear: both;
  text-align: center;
  margin-bottom: 10px;
}

#evidence {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  grid-gap: 5px;
}

@media (min-width: 700px) {
  #evidence {
    width: calc(35% - 10px);
    margin-right: 10px;
  }
}

@media (min-width: 700px) {
  div#ghosts {
    width: 65%;
  }
}

div#ghosts #show-evidence {
  font-size: 0.8em;
}

div#ghosts ul {
  list-style-position: inside;
  list-style-type: none;
}

div#ghosts ul li {
  margin-left: 10px;
}

div#ghosts ul li::before {
  content: "\2022";
}

div#ghosts ul li .ghost-type {
  margin-left: 10px;
}

div#ghosts ul li .evidence {
  margin-left: 20px;
  display: none;
  font-size: 0.8em;
}

div#ghosts ul li .evidence span {
  font-size: 1em;
}

div#ghosts ul li .evidence span:not(:last-child):after {
  content: ", ";
}
