$font-size: 17px;
$light-blue: #EBFFFF;
$light-cream: #FFFFF0;

$multistate-size: 20px;
$multistate-font-size: $multistate-size - 1px;

$button-size: 30px;

$container-size: 700px;
$margin: 10px;
$flex-item-margin: $margin / 2;

$link-font-size: .9em;

$donate-padding-left: $margin / 2;
$donate-padding-right: $margin;
$donate-bg: #FBAA19;
$donate-bg-hover: #f0a118;
$donate-bg-active: #ffb433;
$donate-border-width-large: 1px;
$donate-border-width-small: .1px;
