// Main variables
$font-size: 16px;
$small-font-size: .9em;
$container-size: 800px;
$margin: 15px;
$container-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

// Misc. elements
$multistate-size: 20px;
$multistate-font-size: $multistate-size - 1px;
$button-size: 30px;
$flexbox-margin: $margin / 2;
$border-color: #767676;

// Donate button
$donate-padding-left: $margin / 2;
$donate-padding-right: $margin;
$donate-bg: #FBAA19;
$donate-bg-hover: #f0a118;
$donate-bg-active: #ffb433;
$donate-border-width-large: 1px;
$donate-border-width-small: .1px;

// Light theme
$light-grayed-out: #777777;
$light-element-bg: #fcfcfc;
$light-link-color: #336699;

// Dark theme
$dark-grayed-out: #bbbbbb;
$dark-element-bg: #2d3035;
$dark-link-color: #75d1ff;
