$font-size: 17px;
$light-blue: #EBFFFF;

$tristate-size: 20px;
$tristate-font-size: $tristate-size - 1px;

$button-size: 30px;

$body-margin: 10px;
$container-size: 700px;
$column-margin: 10px;
$grid-gap: 5px;

$link-font-size: .9em;

$list-margin: 10px;
$list-item-margin: 3px;
