.dark-theme {
    background-color: black;
    color: white;

    a {
        color: $dark-link-color;

        &:visited {
            color: $dark-link-color;
        }
    }

    section {
        background-color: $dark-bg;
        border: 1px solid white;
    }

    footer {
        background-color: $dark-bg;
        border-top: 1px solid white;
    }

    .toggle {
        color: $dark-link-color;
    }

    .multistate[data-state="no"] + label {
        color: #bbb;
    }

    .info {
        background-color: #a35129;
    }

    #container > div:first-of-type {
        border-bottom: 1px solid white;
    }
}
