.dark-theme {
    background-color: black;
    color: white;

    .toggle {
        color: #75d1ff;
    }

    section {
        background-color: $dark-bg;
        border: 1px solid white;
    }

    .multistate[data-state="no"] + label {
        color: #bbb;
    }

    .info {
        background-color: #a35129;
    }

    #container > div:first-of-type {
        border-bottom: 1px solid white;
    }
}
