.light-theme {
    background-color: white;
    color: black;

    a {
        color: $light-link-color;

        &:visited {
            color: $light-link-color;
        }
    }

    section {
        background-color: $light-bg;
        border: 1px solid black;
    }

    footer {
        background-color: $light-bg;
        border-top: 1px solid black;
    }

    .toggle {
        color: $light-link-color;
    }

    .multistate[data-state="no"] + label {
        color: #777;
    }

    .info {
        background-color: #ceffff;
    }

    #container > div:first-of-type {
        border-bottom: 1px solid black;
    }
}
