button.multistate {
    user-select: none;
    width: $multistate-size;
    height: $multistate-size;
    padding: 0;

    background-color: #f9f9f9;
    border: 1px solid #777;
    border-radius: 3px;
    outline: none;

    line-height: $multistate-size;
    font-size: $multistate-font-size;
    font-weight: bold;
    text-align: center;

    &:active {
        border: 1px solid #aaa;
        background-color: #fefefe;
    }
}
