@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

button.multistate {
    user-select: none;
    width: $multistate-size;
    height: $multistate-size;
    margin-right: $flexbox-margin;
    padding: 0;
    font-size: $multistate-font-size;

    background-color: transparent;
    border: 1px solid $border-color;
    border-radius: 1px;
    outline: none;

    &:active {
        border: 1px solid #aaa;
    }

    &:not([data-state="none"]) {
        border: 0;
    }
}
