ul {
    list-style-position: inside;
    list-style-type: none;

    li {
        padding-left: $list-margin;
        padding-bottom: $list-item-margin;

        &::before {
            content: "\2022";
        }

        span {
            margin-left: $list-margin;
        }
    }
}
