#container {
    max-width: $container-size;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    #reset-button {
        clear: both;
        text-align: center;
        margin-bottom: $column-margin;
    }

    #ghost-info {
        margin-bottom: $column-margin;
        padding-bottom: $column-margin;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid black;

        @include desktop {
            flex-direction: row;
        }

        #name {
            margin-right: $column-margin;
        }
    }
}
