#container {
    max-width: $container-size;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .right-margin {
        margin-right: $margin;
    }

    .hidden {
        display: none;
    }

    .section-title {
        margin-bottom: $margin / 2;
        font-weight: bold;
    }

    .flex-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: $margin / 2;
        align-items: center;

        :first-child {
            margin-right: $margin / 2;
        }
    }

    .reflow {
        display: flex;
        flex-direction: column;
        margin-bottom: $margin;

        @include desktop {
            flex-direction: row;
        }
    }

    & > div:first-of-type {
        margin-bottom: $margin;
        padding-bottom: $margin / 2;
        border-bottom: 1px solid black;
    }
}
