#container {
    display: flex;
    flex-flow: column wrap;
    max-width: $container-size;
    margin: 0 auto;
    padding: $margin * 2;
    box-shadow: $container-shadow;
    min-height: calc(100vh - #{$margin * 4});

    & > div:first-of-type {
        margin-bottom: $margin;
        padding-bottom: $margin;
    }

    & > .row {
        align-items: flex-start;
        margin-top: 0;
    }

    .column:first-child {
        margin-right: $margin / 2;
    }

    .column:last-child {
        margin-left: $margin / 2;
    }

    .right-margin {
        margin-right: $margin;
    }

    .top-margin-half {
        margin-top: $margin / 2;
    }

    .hidden {
        display: none;
    }

    .section-title {
        font-weight: bold;

        & + div {
            margin-top: $margin / 2;
        }
    }

    #ghost-name {
        text-transform: capitalize;
    }
}
