footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    padding: ($margin / 2) $margin;
    line-height: $small-font-size;

    p, a, button {
        font-size: $small-font-size;
    }

    #footer-options {
        text-align: right;
        max-width: $container-size;
        margin: 0 auto;
    }

    #cookie-banner {
        margin-top: $margin;
        text-align: center;
    }
}
