footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: ($margin / 2) $margin;
    box-shadow: $container-shadow;
    line-height: $small-font-size;

    #footer-container {
        width: $container-size + $margin * 4;
        margin: 0 auto;
        display: flex;
        flex-flow: column wrap;

        #footer-text p:first-child {
            flex-grow: 1;
        }

        p, a, button {
            font-size: $small-font-size;
        }

        #cookie-banner {
            margin-top: $margin;
            text-align: center;
        }
    }
}
