header {
    margin-bottom: $margin;
    width: 100%;

    h1 {
        line-height: $button-size;
    }

    @include desktop {
        h1 {
            float: left;
        }

        div {
            float: right;
        }
    }
}
