#left {
    @include desktop {
        width: calc(35% - #{$column-margin});
        margin-right: $column-margin;
    }

    h2 {
        margin-bottom: $grid-gap;
    }

    & > div {
        display: flex;
        flex-direction: column;

        .evidence-button, .equipment-checkbox {
            display: grid;
            grid-template-columns: max-content max-content;
            grid-gap: $grid-gap;
            margin-bottom: $grid-gap;
        }
    }
}
